body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #191414;
    color: #1DB954;
}

.Artists {
    text-align: center;

}

#Artist {
    text-align: center;
    align-items: center;
    border-radius: 15px;
}

#Grid-Artists{
    display: grid;
    grid-template-columns: auto auto auto;
    
}