#profile{
    text-align: center;
    align-content: center;
}

#text{
    color: #1DB954;
}

#profile button {
    display: block;
}

#profile button:hover {
    color: #1DB954;
    background-color: black;
}

#profile button:active {
    background-color: #1DB954;
    color: black;
}
  