#Grid{
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: auto auto auto;
}

#title{
    align-items: center;
    text-align: center;
    align-self: center;
}

#Artist{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 18%;
}
#Album{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 18%;
}
#Track{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 18%;
}