#Grid{
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: auto auto auto;
}

#title{
    align-items: center;
    text-align: center;
    align-self: center;
}

#Artists{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 18%;
}
#Albums{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 18%;
}
#Tracks{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 18%;
}