#Grid{
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: auto auto auto;
}

#page{
    color: #1DB954;
    background-color: black;
}

#title{
    align-items: center;
    text-align: center;
    align-self: center;
}

#Artists{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 18%;
    overflow-x: auto;
    overscroll-behavior-inline: contain;
    padding-bottom: 2%;
    scrollbar-color: #1DB954 #000;
}
#Albums{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 18%;
    overflow-x: auto;
    overscroll-behavior-inline: contain;
    padding-bottom: 2%;
    scrollbar-color: #1DB954 #000;
}
#Tracks{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 18%;
    overflow-x: auto;
    overscroll-behavior-inline: contain;
    padding-bottom: 2%;
    scrollbar-color: #1DB954 #000;
}

::-webkit-scrollbar-track{
    background:#000;
}

::-webkit-scrollbar-thumb{
    background:#1DB954;
}