#Grid{
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: auto auto auto;
}

#root{
    color: #fff;
    background-color: black;
}

#title{
    align-items: center;
    text-align: center;
    align-self: center;
}

#Artists{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 18%;
    overflow-x: auto;
    overscroll-behavior-inline: contain;
}
#Albums{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 18%;
    overflow-x: auto;
    overscroll-behavior-inline: contain;
}
#Tracks{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 18%;
    overflow-x: auto;
    overscroll-behavior-inline: contain;
}