body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #191414;
    color: #1DB954;
}


#Grid {
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: auto auto auto;
}

#page {
    color: #1DB954;
    margin: 0%;
    padding: 0%;
}

#title {
    align-items: center;
    text-align: center;
    align-self: center;
}

#Artists {
    display: grid;
    grid-auto-flow: column;
    overflow-x: auto;
    overscroll-behavior-inline: contain;
    padding-bottom: 2%;
    gap: 10px;
}

#Artist {
    padding: 5%;
    margin: 5%;
    border-radius: 15px;
}

#Albums {
    display: grid;
    grid-auto-flow: column;
    overflow-x: auto;
    overscroll-behavior-inline: contain;
    padding-bottom: 2%;
    gap: 10px;
}

#Album {
    padding: 5%;
    margin: 5%;
    border-radius: 15px;
}


#Tracks {
    display: grid;
    grid-auto-flow: column;
    overflow-x: scroll;
    overscroll-behavior-inline: contain;
    padding-bottom: 2%;
    gap: 10px;
}

#Track {
    padding: 5%;
    margin: 5%;
    border-radius: 15px;
}

::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }

::-webkit-scrollbar-thumb:horizontal{
    opacity: 0;
}

::-webkit-scrollbar-thumb:horizontal:active{
    opacity: 1;
}
  

::-webkit-scrollbar-track-piece{
    background: #191414;
}

::-webkit-scrollbar-thumb {
    background: #1DB954;
    border-radius: 10px;
}